@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image:linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
}

.background-college {
  background-image: url('../src/assets/img/background-college.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  filter: brightness(0.9);
}
